
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    background-color: gray;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

#add-btn {
    background-color: maroon;
}

#subtract-btn {
    background-color: maroon;
}

#multiply-btn {
    background-color: maroon;
}

#divide-btn {
    background-color: maroon;
}

#subtract-num1 {
    background-color: salmon;
}

#subtract-num2 {
    background-color: salmon;
}

#add-num1 {
    background-color: salmon;
}

#add-num2 {
    background-color: salmon;
}

#multiply-num1 {
    background-color: salmon;
}
#multiply-num2 {
    background-color: salmon;
}
#divide-num1 {
    background-color: salmon;
}
#divide-num2 {
    background-color: salmon;
}